
<footer class="footer pt-0">
    <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-6">
            <div class="copyright text-center  text-lg-left  text-muted">
                &copy; @DateTime.Now.Year <a href="https://github.com/ParanovaFactory" class="font-weight-bold ml-1" target="_blank">SADIK BERKA KARADUMAN</a>
            </div>
        </div>
        <div class="col-lg-6">
            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                    <a href="https://www.linkedin.com/in/sad%C4%B1k-berkay-karaduman-7407621a7/" class="nav-link" target="_blank">SADIK BERKA KARADUMAN</a>
                </li>
                <li class="nav-item">
                    <a href="mailto:sadikberkaykaraduman@gmail.com" class="nav-link" target="_blank">Touch To Me</a>
                </li>
            </ul>
        </div>
    </div>
</footer>